<!DOCTYPE html>
<html lang = "en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  th:replace="~{ fragments/layout :: layout ( ~{ ::body } ) }">
<head>
    <meta name="description"
          content="toodoo - add/edit an event">
</head>
<body>
	<div class="card border-info mb-3" style="width: 18rem;">
		<div class="card-body">
			<form method="post"
				class="needs-validation" novalidate  
				action="#"
				th:object="${command}" 
				th:action="@{'/events'}">
				
				<!-- TODO: PROVIDE BROWSER-SIDE VALIDATION, SO CAN GET
				           ERROR FEEDBACK, LIKE BLANK TITLE, WITHOUT
				           HAVING TO HIT THE SERVER. -->
				<div class="form-group"
					th:class="${ #fields.hasErrors('title') }
								? 'form-group is-invalid'
								: 'form-group'">
								
					<input type="hidden" th:field="*{id}" />
							    	
		   	 		<div th:replace="fragments/inputtextbox::input ( fieldname = title )"></div>

					<div class="form-group row">
						<div class="col"><b>Status</b></div>
						<div class="col">
				   	 		<div th:replace="fragments/inputtextbox::input ( fieldname = status )"></div>
						</div>
					</div>			    	
					
					<div class="form-group row">
						<div class="col"><b>Priority</b></div>
						<div class="col">
				   	 		<div th:replace="fragments/inputtextbox::input ( fieldname = priority )"></div>
						</div>
					</div>
					
					<div class="form-group row">
						<div class="col"><b>Complete %</b></div>
						<div class="col">
				   	 		<div th:replace="fragments/inputtextbox::input ( fieldname = completePct )"></div>
						</div>
					</div>
					
					<div class="float-right">
						<button class="btn btn-info btn-sm" type="submit">save</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>