<!DOCTYPE html>
<html lang = "en" 
	  xmlns:th="http://www.thymeleaf.org" 
	  th:replace="~{ fragments/layout :: layout ( ~{ ::body } ) }" >
<head>
    <meta charset="ISO-8859-1">
    <meta name="description"
          content="toodoo - view event list">
</head>
<body>
	<div class="card-deck" >
		<div class="row" th:each="eventViewModel : ${eventsViewModel.eventViewModels}">
			<div class="col-sm-6">
				<div th:replace="fragments/eventcard::card ( viewModel = ${eventViewModel} )"></div>
			</div>
		</div>
	</div>
</body>
</html>